[submodule "components/services"]
	path = components/services
	url = ../services.git
[submodule "components/dbgterm"]
	path = components/dbgterm
	url = ../dbgterm.git
[submodule "--"]
	path = components/mender-mcu-client/mender-mcu-client
	url = ../mender_ota_esp.git

